@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

/* custom scroll bar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #2980b9;
}

::selection {
	color: #2980b9;
	background: #1b1b1b;
}
.content {
	max-width: 1250px;
	margin: auto;
	padding: 0 30px;
}
.navbar {
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 25px 0;
	transition: all 0.3s ease-in-out;
	display: block;
}

.navbar.sticky {
	background: #fff;
	padding: 10px 0;
	box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.1);
}

.navbar .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo img {
	height: 60px;
	border-radius: 30px;
}

.navbar .menu-list {
	display: inline-flex;
	margin: auto 0;
}
.menu-list li {
	list-style: none;
}
.menu-list li a {
	color: rgb(5, 5, 5);
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-left: 25px;
	text-decoration: none;
	padding: 0px;
	transition: 0.1s;
}

.menu-list li a:hover {
	color: #2980b9;
}
.row img {
	padding: 25px;
}

@media (max-width: 766px) {
	#why-us .row img {
		display: none;
	}
}

@media (max-width: 576px) {
	.cert-logo img {
		display: none;
	}
}

#ourtagline {
	position: absolute;
	font-size: 4vw;
	top: 70%;
	left: 34%;
	color: rgb(255, 255, 255);
}

@media (min-width: 800px) {
	#ourname {
		position: absolute;
		color: #87ceeb;
		top: 30%;
		left: 32%;
		padding: 0 7px;
		font-size: 8vw;
		background-color: #ebf4fa;
	}

	#ourtagline {
		position: absolute;
		font-size: 4vw;
		top: 50%;
		left: 34%;
		color: white;
	}
}

.icon {
	color: #87ceeb;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.icon:hover {
	color: #000;
}

.menu-list .cancel-btn {
	position: absolute;
	right: 30px;
	top: 20px;
}

.menu-list .cancel-btn:hover {
	color: #000;
	transition: 0.1s;
}

@media (max-width: 1230px) {
	.content {
		padding: 0 60px;
	}
}

@media (max-width: 1100px) {
	.content {
		padding: 0 40px;
	}
}

@media (max-width: 900px) {
	.content {
		padding: 0 30px;
	}
}

@media (max-width: 868px) {
	body.disabled {
		overflow: hidden;
	}

	.icon {
		display: block;
	}

	.icon.hide {
		display: none;
	}

	.navbar .menu-list {
		position: fixed;
		height: 100vh;
		width: 60%;
		max-width: 400px;
		left: -100%;
		top: 0px;
		display: block;
		padding: 40px 0;
		text-align: center;
		background: #fff;
		transition: all 0.3s ease-in-out;
	}

	.navbar.show .menu-list {
		left: 0%;
	}

	.navbar .menu-list li {
		margin-top: 45px;
	}

	.navbar .menu-list li a {
		font-size: 23px;
		margin-left: -100%;
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	.navbar.show .menu-list li a {
		margin-left: 0px;
	}
}

@media (max-width: 380px) {
	.navbar .logo a {
		font-size: 27px;
	}
}

.header {
	position: relative;
	text-align: center;
	background: linear-gradient(180deg, #fff 0%, #006994 100%);
	color: white;
}
.flex {
	/*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;
}
.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
}
.footer-dark {
	padding: 50px 0;
	color: #f0f9ff;
	background-color: #006994;
}

.footer-dark h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 16px;
}

.footer-dark ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0;
}

.footer-dark ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.6;
}

.footer-dark ul a:hover {
	opacity: 0.8;
}

@media (max-width: 767px) {
	.footer-dark .item:not(.social) {
		text-align: center;
		padding-bottom: 20px;
	}
}

.footer-dark .item.text {
	margin-bottom: 36px;
}

@media (max-width: 767px) {
	.footer-dark .item.text {
		margin-bottom: 0;
	}
}

.footer-dark .item.text p {
	opacity: 0.6;
	margin-bottom: 0;
}

.footer-dark .item.social {
	text-align: center;
}

@media (max-width: 991px) {
	.footer-dark .item.social {
		text-align: center;
		margin-top: 20px;
	}
}

.footer-dark .item.social > a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(225, 225, 225, 0.4);
	margin: 0 8px;
	color: #f0f9ff;
	opacity: 0.75;
}

.footer-dark .item.social > a:hover {
	opacity: 0.9;
}

.footer-dark .copyright {
	text-align: center;
	padding-top: 24px;
	opacity: 0.3;
	font-size: 13px;
	margin-bottom: 0;
}

#footer-logo {
	width: 6rem;
	border-radius: 50px;
}

.col.item.social {
	margin-top: 20px;
}

.contact-us-item {
	opacity: 0.71;
}
@media (max-width: 880px) {
	.dropdown-menu.show{
		text-align: center;
		margin-left: 50px;
	}
} 

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #2980b9;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}