@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

strong {
	color: #2980b9;
}

/* custom scroll bar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #2980b9;
}

::selection {
	color: #2980b9;
	background: #1b1b1b;
}

.content {
	max-width: 1250px;
	margin: auto;
	padding: 0 30px;
}

.carousel-indicators {
	z-index: 1 !important;
}

#headerSlider .carousel-item {
	filter: brightness(0.38);
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 25px 0;
	transition: all 0.3s ease-in-out;
	display: block;
}

.navbar.sticky {
	background: #fff;
	padding: 10px 0;
	box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.1);
}

.navbar .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo img {
	height: 60px;
	border-radius: 30px;
}

.navbar .menu-list {
	display: inline-flex;
	margin: auto 0;
}

.menu-list li {
	list-style: none;
}

.menu-list li a {
	color: rgb(5, 5, 5);
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-left: 25px;
	text-decoration: none;
	padding: 0px;
	transition: 0.1s;
}

.menu-list li a:hover {
	color: #2980b9;
}

@media (max-width: 880px) {
	.dropdown-menu.show {
		text-align: center;
		margin-left: 50px;
	}
}

/*slider*/
#slider {
	width: 100%;
}

#ourname {
	position: absolute;
	color: rgb(22, 78, 182);
	top: 50%;
	left: 31%;
	padding: 0 7px;
	font-size: 8vw;
	background-color: #ebf4fa;
	border-radius: 20px;
}

.row img {
	padding: 25px;
}

@media (max-width: 766px) {
	#why-us .row img {
		display: none;
	}
}

@media (max-width: 576px) {
	.cert-logo img {
		display: none;
	}
}

#ourtagline {
	position: absolute;
	font-size: 4vw;
	top: 70%;
	left: 34%;
	color: rgb(255, 255, 255);
}

@media (min-width: 800px) {
	#ourname {
		position: absolute;
		color: #87ceeb;
		top: 30%;
		left: 32%;
		padding: 0 7px;
		font-size: 8vw;
		background-color: #ebf4fa;
	}

	#ourtagline {
		position: absolute;
		font-size: 4vw;
		top: 50%;
		left: 34%;
		color: white;
	}
}


.icon {
	color: #87ceeb;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.icon:hover {
	color: #000;
}

.menu-list .cancel-btn {
	position: absolute;
	right: 30px;
	top: 20px;
}

.menu-list .cancel-btn:hover {
	color: #000;
	transition: 0.1s;
}

@media (max-width: 1230px) {
	.content {
		padding: 0 60px;
	}
}

@media (max-width: 1100px) {
	.content {
		padding: 0 40px;
	}
}

@media (max-width: 900px) {
	.content {
		padding: 0 30px;
	}
}

@media (max-width: 868px) {
	body.disabled {
		overflow: hidden;
	}

	.icon {
		display: block;
	}

	.icon.hide {
		display: none;
	}

	.navbar .menu-list {
		position: fixed;
		height: 100vh;
		width: 60%;
		max-width: 400px;
		left: -100%;
		top: 0px;
		display: block;
		padding: 40px 0;
		text-align: center;
		background: #fff;
		transition: all 0.3s ease-in-out;
	}

	.navbar.show .menu-list {
		left: 0%;
	}

	.navbar .menu-list li {
		margin-top: 45px;
	}

	.navbar .menu-list li a {
		font-size: 23px;
		margin-left: -100%;
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	.navbar.show .menu-list li a {
		margin-left: 0px;
	}
}

.dropdown-item {
	left: -100px;
}

@media (max-width: 380px) {
	.navbar .logo a {
		font-size: 27px;
	}
}

/*video*/
section.home-hero-stack {
	position: relative;
	min-height: 100vh;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.hhs--video-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.dark-text {
	font-weight: 1000;
	font-size: 500;
}

.hhs--video-cell {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.hhs--text-wrap {
	position: absolute;
	top: 48vh;
	left: 0;
	color: #fff;
	width: 100%;
	transform: translateY(-50%);
	z-index: 1;
}

.section-down-arrow {
	position: absolute;
	bottom: 7%;
	left: 50%;
	width: 100%;
	max-width: 4rem;
	margin: 0 auto;
	transform: translateX(-50%);
	cursor: pointer;
	animation: bounce 1.5s infinite alternate;
}

.section-down-arrow svg {
	width: 100%;
	display: block;
	transition: all .25s ease;
}

svg:not(:root) {
	overflow: hidden;
}

/*below video*/
.typewriter-text h1 {
	padding: 0px;
}

section.home-intro {
	padding: 6rem 0 0;
	text-align: center;
}

section.home-intro h4 {
	max-width: 60rem;
	margin: 0 auto;
	color: #262626;
	line-height: 1.4em;
}

.home-intro .container:after {
	clear: both;
	content: '';
	display: table;
}

.water-glass video {
	max-height: 50vh;
	text-align: center !important;
}

.water-glass h5 {
	padding: 20px;
}

/* why us */

#why-us {
	width: 100%;
	height: 100%;
	background: #fff;
}

#why-us .container {
	margin: 0 auto;
}

#why-us h1 {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
}

#why-us hr {
	width: 50%;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.507);
	margin-bottom: 40px;
}

.why-us-text {
	padding: 0 50px;
}


.odd-img img {
	width: 100%;
	max-height: 500px;
}

@media (min-width: 768px) {
	.why-us-text {
		padding: 0 30px;
	}

	#why-us hr {
		width: 40%;
		margin: 20px auto;
		background: rgba(0, 0, 0, 0.507);
	}
}

/* about us */


/*1st sec an*/

.our-water .animated-text {
	text-align: center;
	width: 100%;
	padding: 0px;
	color: #006994;
	height: 20px;
	overflow: hidden;
	margin: auto;
	border-radius: 5px;

}

.our-water .para {
	padding: 10px;
}

.our-water .text {
	text-transform: uppercase;
	text-align: center;
}

.our-water .text:first-child {
	animation: anim 20s infinite;
}

@keyframes anim {
	0% {
		margin-top: 0;
	}

	16% {
		margin-top: -60px;
	}

	33% {
		margin-top: -120px;
	}

	50% {
		margin-top: -180px;
	}

	66% {
		margin-top: -120px;
	}

	82% {
		margin-top: -60px;
	}

	100% {
		margin-top: 0;
	}
}

*/
/* our water */

.our-water h1 {
	padding: 0px;
	margin: 0%;
}

/* Why choose mineral drop styles */
#products {
	background: #fff;
	padding-bottom: 30px;
}

#services {
	background: linear-gradient(360deg, #87ceeb, #006994 100%);
	padding-bottom: 30px;
}

#services .container {
	margin: 0 auto;
}

#services hr {
	width: 50%;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.507);
	margin-bottom: 20px;
}

.h1,
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.fas.fa-tshirt {
	font-size: 60px;
	line-height: 111px;
}

.features {
	text-align: center;
}

.features p {
	margin: 0 auto;
	width: 60%;
}

.home img {
	z-index: 999;
	margin: 0%;
}

.carousel-inner img {
	width: 100%;
}


/* Team slides */

#team {
	background: linear-gradient(180deg, #87ceeb, #fff 100%);
}

#team .container img {
	width: 100%;
}

.contact-clean {
	background: none !important;
}

.card-body h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 30px 0;
}

#team .card {
	background: #fff;
	width: 480px;
	box-shadow: 0px 0px 20px 4px;
}

@media (max-width: 762px) {
	#team .card {
		background: #fff;
		width: 460px;
		box-shadow: 0px 0px 20px 4px;
		margin-top: 50px;
	}
}

@media (max-width: 530px) {
	#team .card {
		background: #fff;
		width: 420px;
		box-shadow: 0px 0px 20px 4px;
		margin-top: 50px;
	}
}

@media (max-width: 480px) {
	#team .card {
		background: #fff;
		width: 340px;
		box-shadow: 0px 0px 20px 4px;
		margin-top: 50px;
	}
}

#team .card-body {
	text-align: center;
}

.carousel-inner img {
	width: 100%;
}

#team .carousel {
	max-width: 450px;
	margin: 0 auto;
}

#team .carousel-inner {
	padding-bottom: 40px;
}

#team .carousel-control-prev-icon,
#team .carousel-control-next-icon {
	background-color: black;
}

/* contact-us form */

.contact-clean {
	background: #f5fffe;
	padding: 80px 0;
}

@media (max-width: 767px) {
	.contact-clean {
		padding: 20px 0;
	}
}

.contact-clean form {
	max-width: 480px;
	width: 90%;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 40px;
	border-radius: 4px;
	color: #505e6c;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
	.contact-clean form {
		padding: 30px;
	}
}

.card h4 {
	padding: 25px;
}

.card a {
	text-decoration: none;
}


.contact-clean h2 {
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 28px;
	margin-bottom: 36px;
	color: inherit;
}

.contact-clean .form-group:last-child {
	margin-bottom: 5px;
}

.contact-clean form .form-control {
	background: #fff;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	outline: none;
	color: inherit;
	padding-left: 12px;
	height: 42px;
}

.contact-clean form .form-control:focus {
	border: 2px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
	min-height: 100px;
	max-height: 260px;
	padding-top: 10px;
	resize: vertical;
}

.contact-clean form .btn {
	padding: 16px 32px;
	border: none;
	background: none;
	box-shadow: none;
	text-shadow: none;
	opacity: 0.9;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0.4px;
	line-height: 1;
	outline: none !important;
}

.contact-clean form .btn:hover {
	opacity: 1;
}

.contact-clean form .btn:active {
	transform: translateY(1px);
}

.contact-clean form .btn-primary {
	background-color: #20bc9f !important;
	margin-top: 15px;
	color: #fff;
}

#contact-us-form {
	box-shadow: 0px 0px 20px 4px;
}

#team {
	width: 100%;
	height: 100%;
}

/* footer */

/*experimental*/
.header {
	position: relative;
	text-align: center;
	background: linear-gradient(180deg, #fff 0%, #006994 100%);
	color: white;
}

.flex {
	/*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px;
	/*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;
}

/* Animation */

.parallax>use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.parallax>use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.parallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.parallax>use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
}

/*experimental end*/
.footer-dark {
	padding: 50px 0;
	color: #f0f9ff;
	background-color: #006994;
}

.footer-dark h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 16px;
}

.footer-dark ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0;
}

.footer-dark ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.6;
}

.footer-dark ul a:hover {
	opacity: 0.8;
}

@media (max-width: 767px) {
	.footer-dark .item:not(.social) {
		text-align: center;
		padding-bottom: 20px;
	}
}

.footer-dark .item.text {
	margin-bottom: 36px;
}

@media (max-width: 767px) {
	.footer-dark .item.text {
		margin-bottom: 0;
	}
}

.footer-dark .item.text p {
	opacity: 0.6;
	margin-bottom: 0;
}

.footer-dark .item.social {
	text-align: center;
}

@media (max-width: 991px) {
	.footer-dark .item.social {
		text-align: center;
		margin-top: 20px;
	}
}

.footer-dark .item.social>a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(225, 225, 225, 0.4);
	margin: 0 8px;
	color: #f0f9ff;
	opacity: 0.75;
}

.footer-dark .item.social>a:hover {
	opacity: 0.9;
}

.footer-dark .copyright {
	text-align: center;
	padding-top: 24px;
	opacity: 0.3;
	font-size: 13px;
	margin-bottom: 0;
}

#footer-logo {
	width: 6rem;
	border-radius: 50px;
}

.col.item.social {
	margin-top: 20px;
}

.contact-us-item {
	opacity: 0.71;
}

#team p,
#team h5 {
	padding-left: 25px;
	padding-right: 25px;
}

#team h4 {
	padding: 20px;
}

.testimonial .container {
	border: 2px solid #ccc;
	background-color: #9ad6e6d8;
	border-radius: 5px;
	padding: 16px;
	margin: 16px 0;
	text-align: left;
}

/* Clear floats after containers */
.testimonial .container::after {
	content: "";
	clear: both;
	display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.testimonial .container img {
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}

/* Increase the font-size of a span element */
.testimonial .container span {
	font-size: 20px;
	margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
	.testimonial .container {
		text-align: center;
	}

	.testimonial .container img {
		margin: auto;
		float: none;
		display: block;
	}
}
.story-box{
	background: #fff;
	border-radius: 10px;
}